<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adjs.gaoleng_plus.api.UserDao">

    <select id="queryUser" resultType="com.adjs.gaoleng_plus.entity.UserDo">
        select id, user_name, email, phone,password from gl_support.gl_user where user_name = #{userName}
            and password = #{password}
    </select>
    <select id="queryUserById" resultType="com.adjs.gaoleng_plus.entity.UserDo">
        select id, user_name, email, phone,password from gl_support.gl_user where id = #{userId}
    </select>

</mapper>